*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/google-services.json
app/src/main/java/com/codersofblvkn/criminaltagging/ServerKey.java
ServerKey.java
**/google_maps_api.xml
google_maps_api.xml